*{
    padding: 0;
    margin: 0;
}
body{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 70px;
    background-color: #008f8d;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 61px;
    width: 887px;
    height: 547px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border: 2px solid black;
    background-color: #fe7e37;
}
.blob{
    filter: blur(2px);
    filter: brightness(120%);
    z-index: -1;
    width: 400px;
    height: auto;
    animation-name: ball;
    animation-iteration-count: infinite;
    animation-duration: 100s;
    animation-direction: alternate;
}
@keyframes ball{
    0%{
        transform: rotateZ(0deg);
        width: 410px;
    }
    20%{
        transform: rotateZ(45deg);
        width: 390px;
    }
    30%{
        transform: rotateZ(90deg);
        width: 400px;
    }
    40%{
        transform: rotateZ(135deg);
        width: 402px;
    }
    50%{
        transform: rotateZ(180deg);
        width: 400px;
    }
    60%{
        transform: rotateZ(225deg);
        width: 387px;
    }
    70%{
        transform: rotateZ(260deg);
        width: 398px;
    }
    80%{
        transform: rotateZ(310deg);
        width: 403px;
    }
    90%{
        transform: rotateZ(330deg);
        width: 400px;
    }
    100%{
        transform: rotateZ(3600deg);
        width: 400px;
    }
}

.skills{
    font-family: 'Courier New', Courier, monospace;
    width: 775px;
    font-size: 60px;
    font-weight: 900;
    color: #395c60;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 54px;
}