*{
    font-family: 'Montserrat Alternates';
    padding: 0;
    margin: 0;
}
.main{
    border-radius: 200px;
}
::-webkit-scrollbar {
    width: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0px 5px black; 
    border-radius: 20px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(97 98 90); 
    border-radius: 30%;
    opacity: 0.5;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1f322bad; 
  }
.top{
    max-width: auto;
    height: 400px;
    color: white;
    text-align: center;
    justify-content: center;
    padding-top: 20%;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(30deg, rgba(2,0,36,1) 10%, rgba(28,56,47,1) 45%, rgba(120,113,104,1) 90%);
}
@media screen and (max-width: 500px){
    body{
        background-color: #e3d5d5;
    }
}
.iam{
    font-size: 20px;
}
.naam{/* text gradient*/
    font-size: 72px;
    background: -webkit-linear-gradient(rgb(149, 146, 146), rgb(155, 235, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-name: naam;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.points{
    display: flex;
    font-style: none;
    justify-content: center;
    letter-spacing: 10px;
    font-size: 20px;
    font-family: 'Dancing Script';
}
@keyframes naam{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(30px);
    }   
}
@keyframes naam{
    100%{
        transform: translateX(30px);
    }
    0%{
        transform: translateX(0px);
    }
}
main{
    padding-top: 30px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.aboutme{
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bolder;
    margin: 10px;
    background:-webkit-linear-gradient(#9bebbb, rgba(0,0,0,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.table{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    font-style: none;
}
.first{
    font-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.second{
    font-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.third{
    font-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.forth{
    font-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.fifth{
    font-style: none;
    display: flex;
    gap: 20px;
    font-size: 30px;
}
.button{
    font-weight: bold;
    border: 1px solid #4c8362;
    text-decoration: none;
    color: #4a7f5f;
    padding: 15px;
    margin-right: 370px;
    border-radius: 60px;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
}
.button:hover{
    background-color: #aeebc6;
    box-shadow: 5px 5px 0px lightgray;
}
.button2{
    font-weight: bold;
    border: 1px solid #4c8362;
    text-decoration: none;
    color: #4a7f5f;
    padding: 15px;
    margin-right: 0px;
    border-radius: 60px;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
}
.button2:hover{
    background-color: #aeebc6;
    box-shadow: 5px 5px 0px lightgray;
}
.arrow{
    width: 40px;
    margin-bottom: -14px;
    animation-name: teer;
    animation-duration: 400ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes teer{
    0%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.whole_quality{
    width: 100%;
    height: 600px; 
    background: linear-gradient(70deg, rgb(0, 0, 0)30%,rgb(28,56,47,1)70%,rgb(52, 54, 54)100%);
    color: white;
}
.quality{
    font-size: 60px;
    padding-top: 30px;
    letter-spacing: -7px;
    animation-name: words;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes words{
        100%{
            letter-spacing: -7px;
        }
        0%{
            letter-spacing: 7px; 
        }
}
.quality_lists{
    font-size: 20px;
    padding-top: 50px;
    cursor: pointer;
}
.quality_lists>li:hover{
    font-size: 30px;
}
li{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    transition: 300ms;
}
img{
    width: 15px; 
    animation-name: chote_teer;
    animation-duration: 300ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
@keyframes chote_teer{
    0%{
        transform: translateX(-20px);
    }
    100%{
        transform: translateX(0px);
    }
}
.myskills{
    font-size: 30px;
    padding-top: 30px;
    width: 100%;
    height: 600px;
    color: black;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
.skill{
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: bolder;
    margin: 10px;
    background:-webkit-linear-gradient(#9bebbb, rgba(0,0,0,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.bar_h>p{
    font-size: 20px;
    margin-top: 10px;
    
}
.bar_h{
    display: flex;
    justify-content: center;
    gap: 19%;
}
h4{
    margin-top: 0px;
    font-weight: 100;
}
.bar{
    margin-left: 36%;
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgb(255, 138, 138);
    animation-name: line;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    /* animation: alternate; */
}
@keyframes line{
    from{
       width: 0px;
    }
    to{
        width: 400px;
    }
}
.bar2{
    margin-left: 36%;
    width: 350px;
    height: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #d0ff9b;
    animation-name: line2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    /* animation: alternate; */
}
@keyframes line2{
    from{
       width: 0px;
    }
    to{
        width: 350px;
    }
}
.bar3{
    margin-left: 36%;
    width: 400px;
    height: 20px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #9ca3ff58;
    animation-name: line3;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    /* animation: alternate; */
}
@keyframes line3{
    from{
       width: 0px;
    }
    to{
        width: 400px;
    }
}

.contact_us{
    width: 100%;
    height: 100px;
    font-size: 40px;
    font-weight: bolder;
    background: rgb(2,0,36);
    background: -webkit-linear-gradient(30deg, rgba(2,0,36,1) 10%, rgba(28,56,47,1) 45%, rgba(120,113,104,1) 90%);
    -webkit-text-fill-color: transparent;
}
.contact_d{
    background: -webkit-linear-gradient(rgb(149, 146, 146), rgb(155, 235, 187));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Inter', sans-serif;
}
.Input{
    background: -webkit-linear-gradient(30deg, rgba(2,0,36,1) 10%, rgba(28,56,47,1) 45%, rgba(120,113,104,1) 90%);
    width: 100%;
    height: 350px;
}
input{
    padding-left: 10px;
}
#name{
    margin-top: 30px;
    width: 500px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(40, 79, 46);
    
}
#email{
    margin-top: 30px;
    width: 500px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(40, 79, 46);
    
}
#subject{
    margin-top: 30px;
    width: 500px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    color: rgb(40, 79, 46);
    
}
button{
    margin-top: 20px;
    height: 50px;
    font-weight: bolder;
    font-size: 20px;
    width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: gray;
    transition: 200ms;
}
button:hover{
    background-color: rgb(92 175 105);
    box-shadow: 4px 8px 0px #000000bd;
}
footer{
    margin-top: 2px;
    padding: 70px;
    background-color: black;
}